@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,500&display=swap");

.App {
  text-align: center;
}

.wrapper {
  max-width: 460px;
  box-shadow: 3px 3px 5px #1b1b1ba2;
}

.card {
  background-color: #413f3f;
}

#card-Background{
  background-color: #413f3f;
}

p {
  margin: 0px;
}

.h8 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.card .atm {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.card .visa {
  width: 50px;
  height: 20px;
  object-fit: fill;
}

.card .master {
  width: 50px;
  height: 50px;
  object-fit: fill;
}

.debit-card {
  width: 100%;
  height: 180px;
  padding: 20px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #0000001a;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.debit-card:hover {
  box-shadow: 5px 3px 5px #000000a2;
}

.card-2 {
  background-color: #21d4fd;
  background-image: linear-gradient(116deg, #21d4fd 0%, #b721ff 100%);
}

.text-muted {
  font-size: 0.8rem;
}

.text-white {
  font-size: 14px;
}

.input {
  position: absolute;
  top: 6px;
  right: 0;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

input[type="radio"]:after {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f00c";
  color: #fff;
  font-size: 15px;
  display: none;
}

input[type="radio"]:checked,
input[type="radio"]:checked:hover {
  background-color: blue;
}

input[type="radio"]:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]:hover {
  background-color: #ddd;
}

.btnCard {
  width: 100%;
  height: 50px;
  border: 1px solid #0093e9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0093e9;
  transition: all 0.5s ease;
  font-weight: 500;
  border-radius: 10px;
}

.card-addMoney-form {
  height: 50px;
  border: 1px solid #0093e9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.btnCard:hover {
  color: #fff;
  background-color: #0093e9;
}

.card-Number-Form {
  width: 155px;
}
.card-Date-Form {
  width: 50px;
}


.container {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
	margin-left: 10rem;
}

.caller {
	text-align: center;
	color: #fff;
}